<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="org.example.listeners.RetryTransformer"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="org.example.listeners.TestListener" />
    </listeners>

    <test name="ChromeLoginTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.tests.LoginTest"/>
        </classes>
    </test>

    <test name="FirefoxLoginTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.example.tests.LoginTest"/>
        </classes>
    </test>

</suite>